.banner{
  text-align: center;
  background-color: #8459f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 80%;
  border-radius: 10px;
  }

  .banner p {
    display: inline-block;

    padding: 10px;
    margin: 0 5%;
    font-family: "EB Garamond", Helvetica, Arial, sans-serif;

  }
  .banner-b{
    margin: 40px;
  }

  @media (max-width: 600px) {
    .banner{
      word-wrap: break-word;
      width: 90%;
      padding: 0 5%;
      margin: 0px;

    }
  }
