

.flex {
  display: flex;

  &-jc-sb{
   justify-content: space-between;
  }

  &-jc-c{
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

.nav-link {
  border: 5px solid red;
}
